/**
 * Shared CSS for documentation project
 */

/* Standard color palette */
:root {
    /* Semantic colors */
    --color-error: red;
    --color-warning: yellow;
    --color-success: green;
    --color-active: #0091ff;
    --color-alert: blue;
    --color-highlight: purple;
    --color-primary: black;
    --color-secondary: dimgrey;
    --color-light: white;

    /* Background colors */
    --color-bg-content: white;
    --color-bg-isolate: #FAFAFA;
    --color-bg-shadow: lightgrey;
    --color-bg-aside: lightsteelblue;
    --color-bg-banner: skyblue;
}

/* Responsive layout tools */
:root {
    /* Switch to large when screen is at least 992px wide (bootstrap "large" breakpoint) */
    --flow-breakpoint-small: 0px;
    --flow-breakpoint-large: 992px;

    --flow-flex-direction-small: row;
    --flow-flex-direction-large: column;

    --flow-padding-small: 10px;
    --flow-padding-large: 20px;

    /* Default all to small values */
    --flow-flex-direction: var(--flow-flex-direction-small);
    --flow-flex-direction-inverse: var(--flow-flex-direction-large);
    --flow-padding: var(--flow-padding-small);
    --flow-padding-inverse: var(--flow-padding-large);
}

@media(min-width: 992px) {
    :root {
        --flow-flex-direction: var(--flow-flex-direction-large);
        --flow-flex-direction-inverse: var(--flow-flex-direction-small);
        --flow-padding: var(--flow-padding-large);
        --flow-padding-inverse: var(--flow-padding-small);
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.flex-spacer {
    flex: auto;
}

h1, h2, h3, h4, h5, h6, p, div, body, ul, ol {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 1.4rem;
    font-weight: bold;
}
h3 {
    font-size: 1.3rem;
    font-weight: bold;
}
h4 {
    font-size: 1.2rem;
    font-weight: bold;
}
h5 {
    font-size: 1.1rem;
    font-weight: bold;
}
p, h6, div {
    font-size: 1rem;
    font-weight: normal;
}

/* Make lists easier to style */
ul, ol {
    list-style-position: inside
}

/* Style links */
a {
    text-decoration: none;
    color: var(--color-alert);
}
a:visited {
    color: var(--color-highlight);
}
a:hover {
    text-decoration: underline;
}
a.link-is-current-page {
    font-weight: bold;
}

/* Inline code blocks */
code {
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 3px;
    color: var(--color-primary);
    background-color: var(--color-bg-isolate);
    border: 1px solid var(--color-bg-shadow);
    min-width: 1em;
}
/* Block code blocks */
code.code-block {
    display: block;
    margin: 2px 0;
    width: 100%;
    min-height: 1em;
}