
    .responsive-flex-layout {
        display: flex;
        flex-wrap: nowrap;
    }

    .responsive-flex-layout[data-direction="row"] {
        flex-direction: var(--flow-flex-direction-inverse);
        align-items: flex-start;
    }

    .responsive-flex-layout[data-direction="column"] {
        flex-direction: var(--flow-flex-direction);
        align-items: center;
    }

    @media(min-width: 992px) {
        .responsive-flex-layout[data-direction="row"][data-auto-align="true"] {
            align-items: center;
        }

        .responsive-flex-layout[data-direction="column"][data-auto-align="true"] {
            align-items: flex-start;
        }
    }
