
    #main-layout {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
    }

    #top-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        padding: var(--flow-padding);
        background-color: var(--color-bg-banner);

        flex: 1 0 100%;
    }

    #lower-section {
        background-color: var(--color-bg-content);
        box-shadow: inset 0 8px 5px -5px var(--color-bg-banner);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    #main-content {
        padding: var(--flow-padding);

        flex: 1;
    }

    #main-content-header {
        padding-bottom: var(--flow-padding);
    }

    #side-bar {
        flex: 1 0 100%;
    }

    @media(min-width: 992px) {
        #side-bar {
            flex: 0 0 300px;
        }
    }
